{% extends 'hta_platform/base.html' %}
{% block content %}
<h1>Register</h1>
<form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label }}
            {{ field }}
            <br>
        {% endfor %}
        {% for st_field in student_form %}
            {{ st_field.label }}
            {{ st_field }}
            <br>
        {% endfor %}
        {{ form.errors }}
        {{ student_form.errors }}
        <input type="submit" class="btn btn-primary" name="Register Student">
</form>
{% endblock %}