{% extends "hta_platform/base.html" %}
{% block content %}
    <div>
        <h1>Profile</h1>
        <p>Username: {{ user.username }}</p>
        <p>Name: {{ user.first_name }}</p>
        <p>Surname: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Age: {{ user.student.age }}</p>
        <p>Obligatory Mark: {{ user.student.obligatory_mark }}</p>
        {% if request.user == user %}
       <a class="btn btn-primary" href="{% url 'hta_platform:edit_profile' %}">Edit</a>
        <a class="btn btn-secondary" href="{% url 'hta_platform:logout' %}">Logout</a>
        {% endif %}
    </div>
{% endblock %}