{% extends 'hta_platform/base.html' %}
{% block content %}
<h1>Register University</h1>
<form method="POST" action="">
    {% csrf_token %}
    {% for field in form %}
        {{ field.label }}
        {{ field }}
        <br>
    {% endfor %}
    {% for uni_field in university_form %}
        {{ uni_field.label }}
        {{ uni_field }}
        <br>
    {% endfor %}
    {{ form.errors }}
    {{ university_form.errors }}
    <input type="submit" name="Create University">
</form>
{% endblock %}
