{% extends "hta_platform/base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 col-lg7">
            <h1>Latest posts:</h1>
                {% for post in posts %}
                <div class="card mb-4">
                    <div class="card-header">
                        <a href="{% url 'view_post' slug=post.slug %}" class="link-dark mb-0 stretched-link text-decoration-none">{{ post.title }}</a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ post.created_at }}</p>
                    </div>
                </div>
                {% endfor %}
        </div>
        <div class="col-mid-4 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ university.name }}</h4>
                    <a href="{{ university.website }}" class="text-muted card-subtitle mb-2 text-decoration-none">{{ university.website }}</a>
                    <p class="card-text">{{ university.description }}</p>
                    <a href="{% url 'list_programs' university_username=university.user.username%}" class="btn btn-primary">Programs</a>
                    <a href="#" class="btn btn-primary">Exams</a>
                    {% if request.user == university.user %}
                    <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
                    <a href="{% url 'edit_profile' %}" class="btn btn-secondary">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}