{% extends 'hta_platform/base.html' %}
{% block content %}

    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h5 class="mb-0">{{ post.title }}</h5>
            </div>
            <div class="card-body">
                <small>Last update: {{ post.updated_at }}</small>
                <a href="{% url 'profiles' user_id=post.author.user.id %}">{{ post.author.name }}</a>
                {% if request.user == post.author.user %}
                <a class="btn btn-secondary" href="{% url 'update_post' slug=post.slug %}">Edit</a>
                {% endif %}
                <p class="card-text">{{ post.content }}</p>

            </div>
        </div>
    </div>
{% endblock %}