{% extends 'hta_platform/base.html' %}
{% block content %}

    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h5 class="mb-0">{{ program.name }}</h5>
            </div>
            <div class="card-body">
                <a href="{% url 'hta_platform:profiles' user_id=program.university.user.id %}">{{ program.university.name }}</a>
                {% if request.user == program.university.user %}
                <a class="btn btn-secondary" href="{% url 'programs:update_program' program_id=program.id %}">Edit</a>
                {% endif %}
                {% for program_exam in program_exams %}
                    <p>{{ program_exam.exam.name }} {{ program_exam.coef }}</p>
                {% endfor %}


            </div>
        </div>
    </div>
{% endblock %}