{% extends 'hta_platform/base.html' %}
{% block content %}

    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h5 class="mb-0">{{ program.name }}</h5>
            </div>
            <div class="card-body">
                <a href="{% url 'hta_platform:profiles' user_id=program.university.user.id %}">{{ program.university.name }}</a>
                {% if request.user == program.university.user %}
                <a class="btn btn-secondary" href="{% url 'programs:update_program' program_id=program.id %}">Edit</a>
                {% endif %}
                <p class="card-text">{{ post.content }}</p>

            </div>
        </div>
    </div>
{% endblock %}